*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 50%;
    margin: 10% auto;
    font-size: 30px;
}

.tree {
    list-style-type: none;
    padding-left: 20px;
}

.tree li {
    position: relative;
    padding: 10px;
}

.tree li::before {
    content: "+";
    position: absolute;
    left: -15px;
}

.tree li.expanded::before {
    content: "-";
}

.tree li ul {
    list-style-type: none;
    padding-left: 20px;
    display: none;
}